html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.SliderBasic__Slide-sc-13z0mf0-0 {
  display: flex !important;
  padding: 100px 60px !important;
  background-color: #fafafa;
}

.SliderBasic__Wrap-sc-13z0mf0-1 {
  display: flex !important;
  padding: 60px 100px;
}

@media (max-width: 900px) {
  .SliderBasic__Slide-sc-13z0mf0-0 {
    display: inline-block !important;
  }
}
